.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.printer_info{
  display: inline-block;
  width: 90%;
}

.printer_image{
  float: left;
  width: 25%;
}

.id_image{
  padding: 5px;
  align-content: left;
  width: 75%;
  height: 75%;
}

.printer_data{
  float: left;
  display: block;
  text-align: left;
}

.fa.fa-star{
  color: white;
  border-color: black;
  border-width: 1px;
}

.fa.fa-star.checked{
  color: purple;
  border-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
