.popup {
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.popup_inner {
  width: 225px;
  height: 350px;
  margin: 35% auto;
  background: white;
}

.popup_button.left {
  float:left;
  margin-left: 10%;
  height: 25px;
}

.popup_button.right {
  float: right;
  margin-right: 10%;
  height: 25px;
}

.popup_button {
  width: 32%;
  background-color: whitesmoke;
  border-radius: 20px;
  border: 1px solid #FF9F1C;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.printer_info{
  display: inline-block;
  width: 90%;
}

.printer_image{
  float: left;
  width: 25%;
}

.id_image{
  padding: 5px;
  align-content: left;
  width: 75%;
  height: 75%;
}

.printer_data{
  float: left;
  display: block;
  text-align: left;
}

.fa.fa-star{
  color: white;
  border-color: black;
  border-width: 1px;
}

.fa.fa-star.checked{
  color: purple;
  border-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
width: 600px;
margin: 100px auto; 
}
.progressbar {
margin: 0;
padding: 0;
counter-reset: step;
}
.progressbar li {
list-style-type: none;
width: 25%;
float: left;
font-size: 12px;
position: relative;
text-align: center;
text-transform: uppercase;
color: #7d7d7d;
}
.progressbar li:before {
width: 30px;
height: 30px;
content: counter(step);
counter-increment: step;
line-height: 30px;
border: 2px solid #7d7d7d;
display: block;
text-align: center;
margin: 0 auto 10px auto;
border-radius: 50%;
background-color: white;
}
.progressbar li:after {
width: 100%;
height: 2px;
content: '';
position: absolute;
background-color: #7d7d7d;
top: 15px;
left: -50%;
z-index: -1;
}
.progressbar li:first-child:after {
content: none;
}
.progressbar li.active {
color: green;
}
.progressbar li.active:before {
border-color: #55b776;
}
.progressbar li.active + li:after {
background-color: #55b776;
}