/*
  General App Styling
*/

html, body {
  margin: 0px;
  height: 100%;
  background-color: #D3D3D3;
}

.navigation {
  padding-top: 5px;
  padding-bottom: 2px;
  display: inline-block;
  width: 100%;
}

.buttonright{
  float: right;
  right: 10px;
}

.buttoncenter{
  float: left;
  left: 10px;
}

.buttonleft{
  float: left;
  left: 10px;
}

/*
.flashit{
  color:#f2f;
  -webkit-animation: flash linear 1s infinite;
  animation: flash linear 1s infinite;
}

@-webkit-keyframes flash {
  0% { opacity: 1; } 
  50% { opacity: .1; } 
  100% { opacity: 1; }
}
@keyframes flash {
  0% { opacity: 1; } 
  50% { opacity: .1; } 
  100% { opacity: 1; }
}
*/

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.cancelled {
  text-align: center;
}

.posn {
  margin-right: 40px;
}

.title {
  display: flex;
  align-items: center;
  height: 8vh;
  font-size: 25px;
  color: white;
  background-image: linear-gradient(125deg, #003d60 84%, white 0);
  border-bottom: 1px solid black;
}

.App {
  text-align: center;
}

.pagetitle {
  margin-left: auto;
  margin-right: -15%;
}

.logo {
  margin-left: auto;
  max-height: 150%;
  height: auto;
  max-width: 15%;
  width: auto;
}

/*
  Popup Styling
*/

.cartTitle {
  font-size: 15px;
  text-align: center;
  padding-bottom: 0.5rem;
}

#cart {
  display: inline-block;
  margin-top: 0.5em;
}

.popup {
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.popup_title {
  display: flex;
  align-items: center;
  height: 8vh;
  padding-left: 25%;
  font-size: 25px;
  color: white;
  background: #003d60;
  text-align: center;
}

.popup_inner {
  width: fit-content;
  height: auto;
  margin: 5% auto;
  padding: 2em;
  padding-bottom: 4em;
  background: white;
}

/*
  MatchedPrinters styling
*/

.settingsheading {
  font-size: 12px;
  margin-bottom: -10px;
}

#matches_div {
  display: inline-block;
  width: 89%;
}

.printer_header{
  color: white;
  text-emphasis-style: bold;
  text-size-adjust: 24px;
  padding: 10px;
  margin: 10px;
}

.printer_info{
  display: inline-block;
  vertical-align: top;
  background-color: white;
  width: 260px;
  height: 260px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #04619f;
}

.selected_printer_info{
  display: inline-block;
  background-color: lightgoldenrodyellow;
  width: 260px;
  height: 260px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid gold;
}

.printer_image{
  display: inline-block;
  width: 50%;
  height: 50%;
  margin: 7px;
}

.printer_preview{
  width: 50%;
  float: right;
}

.id_image{
  padding: 5px;
  width: 75%;
  height: 75%;
}

.printer_container{
  width: 100%;
  text-align: center;
  padding: auto;
  margin: auto;
}

.printer_data{
  text-align: left;
  display: inline-block;
  width: 60%;
}

.printer_title{
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
}

.fa.fa-star{
  color: white;
  border-color: black;
  border-width: 1px;
}

.fa.fa-star.checked{
 /* color: rebeccapurple; */
  color: #04619f;
  border-color: white;
}

.MatchedPrintersSidebar {
  display: grid;
  grid-auto-columns: min-content;
  grid-auto-rows: auto auto auto;
  justify-content: right;
  padding-right: 10px;
}

/*
  JobInProgress styling
*/

.job_info{
  background-color: white;
  border: 1px solid black;
  float: right;
  width: 20%;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.job_data{
  text-align: left;
  padding-left: 5px;
}

#file_preview {
  margin-left: 10px;
  margin-right: 10px;
  overflow-y: hidden;
  height: 35em;
  background-color: white;
  border: 1px solid gray;
}

@keyframes stepLabelPulse {
  0% {
    box-shadow: 0 0 0 0px #04619f;
  }
  90% {
    box-shadow: 0 0 0 3px #04619f;
  }
}
